experimentName: icdm_gprgnn
searchSpaceFile: search_space.json
trialCommand: python train.py --nni --device cuda
trialCodeDirectory: ..
trialGpuNumber: 1
trialConcurrency: 2
maxExperimentDuration: 48h
tuner:
  name: GridSearch

trainingService:
  platform: local
  useActiveGpu: False
  gpuIndices: 0,1,2,3,4,5,6,7
